* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: lightgray;
    text-align: right;
    font-size: small;
    padding: 0.5%;
}

.lorem { 
    position: relative;
    text-align: center justify;
    width: 60%;
    left: 25%;
}

address {
    background-color: lightgray;
    font-style: normal;
    text-align: center;
    font-size: medium;
}

main > img  {
    position: relative;
    left: 25%;
    width: 5%;
    height: 5%;
}

#scriptlogo {
    left: 27.5%;
}


